/* Empty. Add your own CSS if you like */
a {
	display: block;
	text-decoration: none;
}
.search-term {
	display: block;
	margin-bottom: 30px;
	margin-top: 20px;
}
.search-term input{
	border: 1px solid #000;
	width: 60%;
	border-radius: 5px;
	text-indent: 12px;
	display: inline-block;
}
.search-term button{
	display: inline-block;
}
.results{
	margin: 10px 0;
}
nav li{
	list-style: none;
}

.albuns {
	display: block;
	margin: 20px 0;
	text-align: center;
	border-bottom:  1px solid #c1c1c1;
	padding-bottom: 20px;
}
.albuns img{
	width: 60%;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.albuns a {
	font-size: 18px;
	display: block;
}
.tracks{
	padding: 10px;
}
.tracks li{
	margin: 10px;
	display: block;
}